@model Cars.Models.Vehicle
@{
    ViewBag.Title = "CreateOrder";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}



@using (Html.BeginForm("CreateOrder", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5">
            <span class="display-6 fw-bold text-danger text-center mb-5">Add Vehicle</span>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <span class="text-danger">@ViewBag.error</span>

            <div class="form-group">
                @Html.LabelFor(model => model.Model)
                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @placeholder = "Registration" } })
                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Daily_hired_price)
                @Html.EditorFor(model => model.Daily_hired_price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Color" } })
                @Html.ValidationMessageFor(model => model.Daily_hired_price, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Capacity)
                @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transmission" } })
                @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Des)
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control", @placeholder = "Daily hired price" } })
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Transmission)
                @Html.EditorFor(model => model.Transmission, new { htmlAttributes = new { @class = "form-control", @placeholder = "Condition" } })
                @Html.ValidationMessageFor(model => model.Transmission, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="imgfile">Images</label>
                <input type="file" id="imgfile" name="imgfile" class="form-control" required="required" />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date_added)
                @Html.EditorFor(model => model.Date_added, new { htmlAttributes = new { @class = "form-control", @placeholder = "Category" } })
                @Html.ValidationMessageFor(model => model.Date_added, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>


}
